/* Setting the font for both of the classes*/
div, li, h1 {
   font-family: Helvetica;
}
/* Centers the ul to the center of the screen. Centered the footer as well
    so all the information is center down on the page*/
ul, footer {
    text-align: center;
}
/* This is to set the list so it is going from left to right instead of up and down*/ 
li {
    list-style: none;
    display:inline;

}
/* A class to center the image to the screen
   instead of defaulting to the side of the page*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* A way to center all the headers on a page*/ 
h1, h3 {
    text-align: center;
}
/* Making the font size bigger for the paragraphs so that they easier to read on
   bigger pages. This will allow the website to be more legible. Also did this
   for the footer since I want them both to be using the same fontsize, making it
   easier for others to read. */
p, footer {
    font-size: large;
}

/*  Make rounded edges for all the images so that they aren't just square stock
    images */
img {
    border-radius: 20%;
}

/* Define animation */
@keyframes slideRightToLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

/* Apply animation to the container */
.animated-container {
    display: flex;
    overflow: hidden;
}

/* Apply animation to images */
.animated-picture {
    margin-right: 50px;
    animation: slideRightToLeft 10s linear infinite;
}
     /* Form container styles */
     .form-container {
        max-width: 500px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Form field styles */
    .form-field {
        margin-bottom: 20px;
    }

    .form-field label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-field input[type="text"],
    .form-field input[type="number"],
    .form-field textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .form-field textarea {
        height: 100px;
    }

    /* Button styles */
    .form-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .form-btn:hover {
        background-color: #0056b3;
    }
